html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
}

body {
    font-family: Segoe UI Light;, sans-serif;
}

#wrap {
  margin: 0 auto;
  width: 1000px;
}
#welecomeScreenMessage{ 
  margin-top: 200px;
  margin-left: 370px;
  font-size: 20px;
  float: left;
}
#welcomeVerticlaHr {
  height: 350px;
  margin-top: 25px;
  width: 1px;
  background-color: #f96c65;
  float:left;
}
#loginBox, #registerBox {
  width: 400px;
  height: auto;
  float: left;
  margin: 0 auto;
  margin: 49px;
  text-align: center;
}
#loginBox p, #registerBox p, #editProfileBox p, #changePasswordBox p {
  font-size: 24px;
  margin: 7px;
}
#loginBox input, #registerBox input, #editProfileBox input,
#changePasswordBox input{
  display: block;
  height: 25px;
  margin-left: 115px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #e3e4e8 ;
}
#padd {
  height: 5px;
}
#loginBox input[type='text'], #loginBox input[type='password'],
#registerBox input[type='text'], #registerBox input[type='password'],
#editProfileBox input[type='text'], #changePasswordBox input[type='password'] , 
 {
  padding-left: 5px;
  padding-bottom: 5px;
  font-family: Segoe UI Light;
  font-size: 17px;
}
#loginBox a, #registerBox a, #editProfileBox a, #changePasswordBox a {
  width: 138px;
  height: 19px;
  margin: auto;
  background-color: #f96c65;
  border-radius: 5px;
  padding: 8px 15px 10px 15px;
  display: block;
  color: #fff;
  font-size: 20px;
  font-family: Segoe UI Light;
  cursor: pointer;
}
#registerGender   {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 18px;
}
#registerGender  input[type=radio] {
    display:none; 
}
#registerGender input[type=radio] + label {
    display:inline-block;
    width:24px;
    height:24px;
    margin-top: 5px;
    cursor: pointer;
}
#registerGender label p{
  float: left;
  margin-left: 28px;
  margin-top: -2px;
}
#maleBox, #femaleBox, #otherBox {
  float: left;
  margin-right: 50px;
  margin-left: 50px;
}
#maleBox input[type=radio] + label {
    background:url("../img/maleicon.png");
}
#maleBox input[type=radio]:checked + label { 
   background: url("../img/maleiconChecked.png");
}
#femaleBox input[type=radio] + label {
    background:url("../img/femaleicon.png");
}
#femaleBox input[type=radio]:checked + label { 
   background: url("../img/femaleiconChecked.png");
}
#otherBox input[type=radio] + label {
    background:url("../img/othericon.png");
}
#otherBox input[type=radio]:checked + label { 
    background: url("../img/othericonChecked.png");
}
header {
  width: 100%;
  height: 83px;
  background-color: #f6efd5;
  left: 0px;
  position: fixed;
}
#headerContainer {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
}
#userButtoms {
    float: right;
    height: 32px;
    margin-top: 24px;
    width: 150px;
}
#logout, #editProfile, #getFriendRequestIcon{
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 15px;
    cursor: pointer;
}
#getFriendRequestIcon {
  background-image: url("../img/friendRequest.png");
}
#logout {
    background: url("../img/logout.png") no-repeat;
}
#editProfile {
    background: url("../img/settings.png") no-repeat;
}
#currentUser {
  float: right;
  margin-top: 17px;
}
#currentUser p, #currentUser img{ 
  float: left;
}
#currentUser p{ 
  margin-top: 16px;
  margin-left: 5px;
  font-size: 16px;
}
#editProfileBox, #changePasswordBox {
  width: 400px;
  height: auto;
  float: left;
  margin: 0 auto;
  text-align: center;
  margin-top: 180px;
  margin-left: 230px;
}
#cps {
  height: 15px;
}
#editProfileBox a, #changePasswordBox a {
  width: 150px;
  text-decoration: none;
}
#searchBox {
  height:;
  float: right;
}
#searchBar {
  display: block;
  height: 25px;
  margin-right: 40px;
  margin-top: 32px;
  border: 1px solid #e3e4e8 ;
  width: 200px;
}

#searchBar input[type='text']{
  padding-left: 5px;
  padding-bottom: 5px;
  font-family: Segoe UI Light;
  font-size: 17px;
}

#search-overlay{
  display: none;
  float: left;
  width: 200px;
  height: auto;
  background-color: white;
  opacity: 0.9;
  border-left: 1px solid #e3e4e8;
  border-bottom: 1px solid #e3e4e8;
  border-right: 1px solid #e3e4e8;
}
#searchResultsUser img{
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
  float: left;
}
#searchResultsUser p{
 margin-top: 15px;
 margin-left: 10px;
 padding-top: 5px;
}
#userLine {
  height: 38px;
  width: 200px;
  text-decoration: none
}
.mouseHover {
  background-color: #f96c65;
  cursor: pointer;
}
#searchResultsUser a {
  text-decoration: none;
}
#userLine p {
  text-decoration: none;
  color: black;
}

#userWallWrap {
  width: 1000px;
  height: auto;
  margin-top: 83px;
  float: left;
}
#userWallCoverImageWrap {
  max-width: 1000px;
  max-height: 300px;
  overflow: hidden;
  vertical-align: center;
  z-index: 10;
  float: left;

}
#userWallProfileImageData {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-top: -90px;
  border-radius: 2px;
  border: 2px solid white;
  float: left;
  z-index: 1;
}
#userWallFullName {
  margin-left: 100px;
  margin-top: -55px;
  float: left;
  z-index: 1;
    font-size: 20px;
  color:white;
  font-weight: bold;
  text-shadow: 1px 1px 5px black
  
}
#logo {
  width: 60px;
  height: 60px;
  background-image: url("../img/logo.png");
  float: left;
  margin-top: 10px;
}
#logoTitle, #postsTitle {
  font-size: 20px;
  color:black;
  float: left;
  margin-top: 30px;
  font-weight: bold;
  margin-left: 10px;
}

#post {
  width: 990px;
  height: auto;
  margin: 10px;
  border-radius: 2px;
  border: 1px solid #e2e2e2;
  float: left;
  background-color: #fffbda;

}

#postAuthor, #postContent {
  margin: 5px;
  float: left;
}
#postContent  {
  width: 700px;
  min-height: 50px;
  height: auto;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  padding: 3px;
}
#postDate {
  margin-top: 5px;
  margin-left: 5px;
}
#comments{
  width: 990px;
  min-height:50px;
  height: auto;
  margin-top: 80px;
}
#comment {
  width: 900px;
  min-height: 80px;
  height: auto;
  margin-left: 70px;
  border: 1px solid #e2e2e2;
  margin-bottom: 5px;
  background-color: #fff;
}
.commentProfileImage {
  width: 50px;
  height: 50px;
  margin: 5px;
  float: left;
}
.commentUserName {
  margin-top: 7px;
  margin-left: 5px;
}
#commentAuthor {
  float: left;
}
#commentDate {
  width: 130px;
  height:15px;
  float:left;
  margin-top: 5px;
}
#commentLike {
  float:right;
  margin-top: 5px;
  margin-right: 5px;
}
#commentContent {
  width: 610px;
  height: auto;
  float: left;
  margin-left: 5px;
}
#sendFriendRequest {
  width: 138px;
  height: 19px;
  margin: auto;
  background-color: #f96c65;
  border-radius: 5px;
  padding: 8px 15px 10px 15px;
  /*display: block;*/
  color: #fff;
  font-size: 16px;
  font-family: Segoe UI Light;
  cursor: pointer;
  text-decoration: none;
  margin-top: -50px;
  margin-right: 10px;
  float: right;
}

#frienadRequestsOverlay{
  display: none;
  float: left;
  width: 200px;
  height: auto;
  background-color: white;
  opacity: 0.9;
  border-left: 1px solid #e3e4e8;
  border-bottom: 1px solid #e3e4e8;
  border-right: 1px solid #e3e4e8;
  margin-top: 32px;
}
#requestLine{
  height: auto;
}
#requestLine p,#requestLine img {
  float: left;
}
#requestLine p {
  margin-top: 14px;
  margin-left: 5px;
}
#hasPendingRequest {
  width: 138px;
  height: 19px;
  background-color: #f96c65;
  border-radius: 5px;
  padding: 8px 15px 10px 15px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin-top: -50px;
  margin-right: 10px;
  float: right;
  position: relative;
}