<header ng-controller="MainController">
	<div id="headerContainer" ng-controller="UserController">
		<a href="#/">
			<div id="logo">
			</div>
			<p id="logoTitle">SoftBook</p>
		</a>
		
		<div ng-if="isLoggedIn">
			
		<div id="userButtoms">
			
			<div ng-controller="ProfileController">
				<div id="getFriendRequestIcon" ng-click="getFriendRequests()">
					<div id="frienadRequestsOverlay" class="thumbnail" data-t="1">
						<div id="requestLine" ng-repeat="request in pendingRequest">
							<img width="50px" height="50px" src="{{request.user.profileImageData}}" alt="">
							<p>{{request.user.name}}</p>
							<a id="accept" ng-click="acceptFriendRequest(request.id)">Accept</a>
							<br>
							<a id="cancel" ng-click="cancelFriendRequest(request.id)">Cancel</a>
						</div>
						<div ng-if="pendingRequest.length == 0">
							<p id="Norequest">No request</p>
						</div>
					</div>
					
				</div>
			</div>
			<a id="editProfile" href="#/profile" ng-click="editProfile()" ></a>
			<a id="logout" href="#/logout" ng-click="logout()" ></a>
		</div>
		<div id="currentUser" >
				<a href="#/users/{{currentUsername}}"><img ng-src="{{profileImageData}}" alt="" height="50px" width="50px"></a>
			<p>	<a href="#/users/{{currentUsername}}">{{userFullName}}</a></p>
		</div>
		<div id="searchBox">
			<input type="text" id="searchBar" placeholder=" Search user"
			ng-change="searchUser(searchTerm)"
			ng-model="searchTerm"/>

			<div id="search-overlay" class="thumbnail" data-t="1">
				<div id="searchResultsUser" ng-repeat="user in searchResults">
					<a href="#/users/{{user.username}}"><div id="userLine" ng-class="{mouseHover: hover}" ng-mouseenter="hover = true"
			ng-mouseleave="hover = false">
						<div ng-if="user.profileImageData != null">
						<img ng-src="{{user.profileImageData}}" alt="">
						</div>
						<div ng-if="user.profileImageData == null">
							<img src="img/profileImageNotFount.png" alt="">
						</div>
						<p>{{user.name}}</p>
					</div></div>
				</div>
			</div>
		</div>
		</div>	
	</div>
