<div id="guestBox" ng-if="!isLoggedIn" ng-controller="UserController">
    <p id="welecomeScreenMessage">Welcome to SoftBook project</p>
    <div ng-include="'templates/login.html'" ></div>
    <div id="welcomeVerticlaHr"></div>
    <div ng-include="'templates/register.html'"></div> 
</div>

<div ng-controller="ProfileController" ng-init="getOwnFriendsPreviw()" ng-if="isLoggedIn">
	<div id="homeFriendsPreview">
		<a id="myFriendsPreview"href="#/api/me/friends"><p>My friends({{ownFriends.totalCount}})</p></a>
		<div id="userFriendsPreviewUser" ng-repeat="user in ownFriends.friends" >
			<img src="{{user.profileImageData}}" alt="">
			<p>{{user.name}}</p>
		</div>
		<div ng-if="ownFriends.friends.length == 0">
			<p>No friends</p>
		</div>	
	</div>
</div>


<div id="feed" ng-if="isLoggedIn" ng-controller="ProfileController" ng-init="feed()">
	<div id="feedPost" ng-repeat="post in feed">
		<div id="postAuthor">
			<div ng-if="post.author.profileImageData != null">
				<img ng-src="{{post.author.profileImageData}}" alt="">
			</div>
			<div ng-if="post.author.profileImageData == null">
				<img src="img/profileImageNotFount.png" height="100px" width="100px" alt="">
			</div>
			<p>{{post.author.name}}</p>
		</div>
		<p id="postDate">{{post.date | date : 'dd.MM.yyyy HH:MM'}}</p>
		<p id="postContent">{{post.postContent }}</p>
		<p id="likesCount">Likes: {{post.likesCount}}</p>
		<div ng-if="post.liked == false">
			<a href="">Like</a>
		</div>
		<div ng-if="post.liked != false">
			<a href="">Dislike</a>
		</div>
		<p id="postDate">Comments count:{{post.totalCommentsCount}}</p>
		<div id="comments">
			<div id="comment" ng-repeat="comment in post.comments">
				<div id="commentAuthor">
					<div ng-if="comment.author.profileImageData != null">
					<img class="commentProfileImage" width="50px" height="50px"ng-src="{{comment.author.profileImageData}}" alt="">
					</div>
					<div ng-if="comment.author.profileImageData == null">
						<img src="img/profileImageNotFount.png" height="100px" width="100px" alt="">
					</div>
					<p class="commentUserName">{{comment.author.name}}</p>
				</div>
				<p id="commentDate">{{comment.date | date : 'dd.MM.yyyy HH:MM'}}</p>
				<p id="commentContent">{{comment.commentContent}}</p>
				<div id="commentLike">
					<p id="likesCount">Likes: {{comment.likesCount}}</p>
					<div ng-if="comment.liked == false">
						<a href="">Like</a>
					</div>
					<div ng-if="comment.liked != false">
						<a href="">Dislike</a>
					</div>
				</div>

			</div>	
		</div>
		
	</div>
</div>



