<div ng-include="'templates/userHeader.html'"></div> 

<div  ng-init="getUserWallFriendsPreveiw()" ng-if="userWallData.isFriend">
	<div id="userFriendsPreview" >
		<p id="postsTitle">Friends: </p>
		<div id="userFriendsPreviewUser" ng-repeat="user in userWallFriendsPreveiw.friends">
			<img src="{{user.profileImageData}}" alt="">
			<p>{{user.name}}</p>
		</div>
		<div ng-if="userWallFriendsPreveiw.friends.length == 0">
			<p>No friends</p>
		</div>	
	</div>
</div>
<div ng-controller="ProfileController">
	<div id="makePost" ng-if="userWallData.isFriend || userWallData.username == userData.currentUsername" ng-controller="PostController">
		<textarea  id="makePostContent" placeholder=" Make post" ng-model="makePostContent"></textarea>
		<a id="makePostButton" ng-click="makeNewPost(makePostContent)">Post</a>
	</div>
</div>


</div>
<div ng-controller="PostController">
<div id="posts"  infinite-scroll="getWallPosts()"
infinite-scroll-disabled='wallBusy' infinite-scroll-distance="0">
<p id="postsTitle2">Posts: </p>
	<div id="postsTitle" ng-if="posts.length == 0">
		<p>no posts</p>
	</div>
	<div id="postWall" ng-repeat="post in wallPosts" ng-if="post != undefined">
		<div class="feedPostHeader" >
			<div class="feedPostLeftSide">
				<div ng-if="post.author.profileImageData != null">
					<img ng-src="{{post.author.profileImageData}}" height="100px" width="100px" alt="">
				</div>
				<div ng-if="post.author.profileImageData == null">
					<img src="img/profileImageNotFount.png" height="100px" width="100px" alt="">
				</div>
				<p id="feedPostLikes">Likes: <span>{{post.likesCount}}</span></p>
				<p id="feedPostLikes">Comments: <span>{{post.totalCommentsCount}}</span></p>
				<div ng-if="post.liked == false && userWallData.isFriend" ng-controller="PostController">
					<a  class="likeDislikeButton" id="likeButton"ng-click="likePost(post.id, this)">Like</a>
				</div>
				<div ng-if="post.liked != false && userWallData.isFriend" ng-controller="PostController">
					<a class="likeDislikeButton" id="dislikeButton" ng-click="dislikePost(post.id, this)">Dislike</a>
				</div>
			</div>

			<div class="feedPostRightSide">
				<div ng-if="post.wallOwner.username == post.author.username">
					<p><span><a href="#/users/{{post.wallOwner.username}}">{{post.wallOwner.name}}</a></span>  shared: </p>
				</div>

				<div ng-if="post.wallOwner.username != post.author.username">
					<p><span><a href="#/users/{{post.author.username}}">{{post.author.name}}</a></span> > <span><a href="#/users/{{post.wallOwner.username}}">{{post.wallOwner.name}}</a></span> </p>
				</div>
				<p id="feedPostDate">{{post.date | date : 'dd.MM.yyyy HH:MM'}}</p>
				<p id="feedPostContent">{{post.postContent}}</p>
				<div ng-controller="CommentController">
				<div ng-if="post.wallOwner.isFriend || post.wallOwner.username == userData.currentUsername">
						<div ng-if="post.wallOwner.isFriend || post.wallOwner.username == userData.currentUsername">
						<button id="showCommentTextArea" ng-click="showCommentTextArea()">Comment</button>
					</div>
					<div ng-if="post.wallOwner.username == userData.currentUsername || post.author.username == userData.currentUsername" ng-controller="PostController">
						<button id="showCommentTextArea" ng-click="deletePost(post.id)">Delete post</button>
					</div>
					<div ng-if="post.author.username == userData.currentUsername" ng-controller="PostController">
						<button id="showCommentTextArea" ng-click='toggleModal()'>Edit post</button>
						<modal-dialog show='modalShown' width='auto' height='auto' style="padding: 30px;">
						  <textarea id="postEditArea" ng-model="editPostData"></textarea>
						  <button id="saveEditButton" ng-click="editPost(post.id, editPostData)">save</button>
						</modal-dialog>
						
					</div>
					
					<button id="showCommentTextArea" ng-click="showAllComments(post.id)">Show all comments</button>
					<textarea ng-hide="postComment"  id="commentPostText" ng-model="postCommentText" ></textarea>
					<button ng-hide="postComment" id="showCommentTextArea" ng-click="submitCommentToPost(post.id)">Submit comment</button>
				</div>

				<div ng-controller="CommentController" ng-repeat="comment in post.comments" id="commentBox" >
					<div id="commentInPost">
						<div id="commentProfileImageDiv">
							<img id="commentProfileImage"ng-src="{{comment.author.profileImageData}}" alt="">
						</div>
						<p id="commentProfileName"><a href="#/users/{{comment.author.username}}">{{comment.author.name}}</a> comment: </p>
						<p id="commentDate">{{comment.date | date : 'dd.MM.yyyy HH:MM' }}</p>
						<p id="commentContent">{{comment.commentContent}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="busy == true">
	<img src="http://www.blackwolves.com/img/spinner.gif" alt="" style="margin-left: 300px; float: bottom">
</div>
</div>

