<div id="userWallWrap" ng-init="getUserWall()">
	<div id="userWallCoverImageWrap" >
		<div ng-if="userWallData.coverImageData != null">
			<img id="userWallcoverImageData"   ng-src="{{userWallData.coverImageData}}" alt="">
		</div>

		<div ng-if="userWallData.coverImageData == null">
			<img id="userWallcoverImageData"  ng-src="./img/defaultCover.jpg" alt="">
		</div>
	</div>

	<div ng-if="userWallData.profileImageData != null">
		<img id="userWallProfileImageData"   ng-src="{{userWallData.profileImageData}}" alt="">
	</div>

	<div ng-if="userWallData.profileImageData == null">
		<img id="userWallProfileImageData"  src="./img/profileImageNotFount.png" alt="">
	</div>

	<p id="userWallFullName">{{userWallData.name}}</p>
	<div  ng-controller="ProfileController">
		<div ng-if="userWallData.isFriend == false && 
					  userWallData.hasPendingRequest == false &&
					  userWallData.username != userData.currentUsername" >
			<a id="sendFriendRequest" ng-click="sendFriendRequest(userWallData.username)">Send friend request</a>
		</div>
	</div>

	<div ng-controller="ProfileController" ng-if="userWallData.hasPendingRequest == true &&
						userWallData.username != userData.currentUsername">
		<a id="hasPendingRequest">Friend request sent</a>
	</div>

	<div ng-controller="ProfileController" >
		<div ng-if="userWallData.isFriend == true">
			<a id="myFriend"  >Friend</a>
		</div>
		<div ng-if="userWallData.isFriend == true">
			<a href="#/users/{{userWallData.username}}/friends" id="allFriends" >All friends</a>
		</div>
	</div>
</div>