<div id="userWallWrap" ng-init="getUserWall()">
	<div id="userWallCoverImageWrap" >
		<div ng-if="userWallData.coverImageData != null">
			<img id="userWallcoverImageData"   ng-src="{{userWallData.coverImageData}}" alt="">
		</div>
		<div ng-if="userWallData.coverImageData == null">
			<img id="userWallcoverImageData"  ng-src="./img/defaultCover.jpg" alt="">
		</div>
	</div>

	<div ng-if="userWallData.profileImageData != null">
		<img id="userWallProfileImageData"   ng-src="{{userWallData.profileImageData}}" alt="">
	</div>
	<div ng-if="userWallData.profileImageData == null">
		<img id="userWallProfileImageData"  src="img/profileImageNotFount.png" alt="">
	</div>
	<p id="userWallFullName">{{userWallData.name}}</p>
	<div ng-controller="ProfileController" ng-if="userWallData.isFriend == false && userWallData.hasPendingRequest == false" >
		<a id="sendFriendRequest" ng-click="sendFriendRequest(userWallData.username)">Send friend request</a>
	</div>
	<div  ng-controller="ProfileController" ng-if="userWallData.hasPendingRequest == true">
		<a id="hasPendingRequest">Friend request sent</a>
	</div>

	<div  ng-controller="ProfileController" ng-if="userWallData.isFriend == true">
		<a id="myFriend">Friend</a>
	</div>
</div>

<div id="makePost" ng-if="userWallData.isFriend" ng-controller="PostController">
	<textarea  id="makePostContent" placeholder=" Make post" ng-model="makePostContent"></textarea>
	<a id="makePostButton" ng-click="makeNewPost(makePostContent)">Post</a>
</div>

	
</div>
<div id="posts" ng-controller="PostController" ng-init="getWallPosts()">
<p id="postsTitle">Posts: </p>
	<div id="postsTitle" ng-if="posts.length == 0">
		<p>no posts</p>
	</div>
	<div id="post" ng-repeat="post in posts" ng-if="post != undefined">
		<div id="postAuthor">
			<div ng-if="post.author.profileImageData != null">
				<img ng-src="{{post.author.profileImageData}}" alt="">
			</div>
			<div ng-if="post.author.profileImageData == null">
				<img src="img/profileImageNotFount.png" height="100px" width="100px" alt="">
			</div>
			<p>{{post.author.name}}</p>
		</div>
		<p id="postDate">{{post.date | date : 'dd.MM.yyyy HH:MM'}}</p>
		<p id="postContent">{{post.postContent }}</p>
		<p id="likesCount">Likes: {{post.likesCount}}</p>
		<div ng-if="post.liked == false">
			<a href="">Like</a>
		</div>
		<div ng-if="post.liked != false">
			<a href="">Dislike</a>
		</div>
		<p id="postDate">Comments count:{{post.totalCommentsCount}}</p>
		<div id="comments">
			<div id="comment" ng-repeat="comment in post.comments">
				<div id="commentAuthor">
					<div ng-if="comment.author.profileImageData != null">
					<img class="commentProfileImage" width="50px" height="50px"ng-src="{{comment.author.profileImageData}}" alt="">
					</div>
					<div ng-if="comment.author.profileImageData == null">
						<img src="img/profileImageNotFount.png" height="100px" width="100px" alt="">
					</div>
					<p class="commentUserName">{{comment.author.name}}</p>
				</div>
				<p id="commentDate">{{comment.date | date : 'dd.MM.yyyy HH:MM'}}</p>
				<p id="commentContent">{{comment.commentContent}}</p>
				<div id="commentLike">
					<p id="likesCount">Likes: {{comment.likesCount}}</p>
					<div ng-if="comment.liked == false">
						<a href="">Like</a>
					</div>
					<div ng-if="comment.liked != false">
						<a href="">Dislike</a>
					</div>
				</div>

			</div>	
		</div>
	</div>

</div>

